<!DOCTYPE html>
<html>
<head>
    <title>bake bless</title>
</head>
<body>
    <h1>Welcome to bake bliss!</h1>
    <p>this wibsite receives the information you entered about how you prefer your cake 
    such as : the amount of ingredients , if there are any allergies , the flavor. 
    according to theseinformations, the site represents types of cakes with a recipe attached , enjoy baking delicious cakes !</p>
    <a href="{{ url_for('login') }}">Login</a>
    <a href="{{ url_for('signup') }}">Signup</a>
</body>
</html>